<div >
  <p>
    configuration in routing and navbar outlet
  </p>
  <button type=button class="btn btn-danger">Color button</button>
  <button type=button class="btn btn-info">Color button</button>
  <button type=button class="btn btn-success">Color button</button>
  <button type=button class="btn btn-success">Color button</button>
  <button type=button class="btn btn-success">Color button</button>
</div>
